* {
  box-sizing: border-box;
}

html, body, h1, h2, h5 {
  margin: 0;
  padding: 0;
}

html {
  font-size: 1vw;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: .05rem;
}

body {
  overflow-x: hidden;
}

$ease: .3s ease-in-out;
$shadow: 2px 2px 2px #aaa;
$blue: #31698a;

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 3.25rem;
}

h3 {
  font-size: 3.5rem;
  text-align: center;
  color: #333;
  margin-bottom: 3rem;
}

h4,
a.link-title {
  font-size: 2rem;
  margin: 1rem 0;
}

h5 {
  font-size: 1.25rem;
}

p {
  font-size: 1.75rem;
  line-height: 2.5rem;
  letter-spacing: .1rem;
}

a {
  font-size: 1.25rem;
  text-decoration: none;
  cursor: pointer;
  color: #666;
  transition: $ease;

  &.link-title {
    display: inline-block;
    color: #333;

    i {
      font-size: 1rem;
      vertical-align: middle;
      opacity: 0;
      transition: $ease;
      margin-left: -.5rem;
      color: #666;
    }

    &:hover {
      color: $blue;

      i {
        color: $blue;
        margin-left: 0;
        opacity: 1;
      }
    }
  }

  &:hover {
    color: #444;
  }
}

hr {
  margin: 4rem 0;
  border-top-color: #fff;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.stripe {
  width: 100%;
  height: 1rem;
  margin: .5rem 0;
}

.red-stripe {
  background: rgb(180,32,38);
}

.orange-stripe {
  background: rgb(243,124,31);
}

.yellow-stripe {
  background: rgb(233,196,30);
}

// ******************************** Globals
.center-text {
  text-align: center;

  p {
    display: inline-block;
    margin: 2rem .5rem 4rem;
    font-size: 5rem;
    color: #ccc;
    vertical-align: -25%;
  }

  .fa {
    font-size: 3rem;
  }
}

.page-header {
  background: url('../img/garage-bg.jpg') no-repeat center 25% / cover fixed;
  height: 50vh;
  display: flex;
  align-items: center;
  padding-left: 3%;

  h1 {
    color: #fff;
    background: #000;
    padding: 1rem;
  }
}

.blend {
  background-color: #ddd !important;
  background-blend-mode: multiply;

  &:hover {
    background-blend-mode: normal;
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section-padding {
  padding: 2rem;
}

.small-left-padding {
  padding: 1rem 0 1rem 1rem;
}

.bg {
  background: #d6d7dd;
}

.dark-bg {
  background: #333 !important;
  color: #fff;

  .fa {
    color: #ccc;
  }

  a {
    color: #ccc;
  }
}

.table-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.table-column {
  display: flex;
}

.clear {
  clear: both;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2 !important;
}

.single-tile {
  height: 22rem;
  width: 100%;
}

.margin-top {
  margin-top: 2rem;
}

.margin-bottom {
  margin-bottom: 2rem;
}

.margin-left {
  margin-left: 1rem;
}

.margin-right {
  margin-right: 1rem;
}

.tooltip {
  height: 16rem;
  flex: 1;
  margin: 0 1rem 2rem;
  text-align: center;
  position: relative;
  z-index: 1;
  box-shadow: $shadow;
  transition: $ease;

  .callout {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 2;
    display: block;
    background: #000;
    color: #fff;
    opacity: 0;
    padding: .25rem 0;
    transition: $ease;
  }

  span {
    display: block;
  }

  &:hover {
    box-shadow: 4px 4px 4px #aaa;

    .callout {
      opacity: 1;
    }
  }
}

.down-arrow {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  color: #ccc;
}

.col-1 {
  flex: 1;
  height: 16rem;
  margin: 0 1rem 2rem;
  position: relative;
  box-shadow: $shadow;
  transition: $ease;

  a {
    text-decoration: none;

    span {
      position: absolute;
      bottom: .5rem;
      right: .5rem;
      color: #fff;
      font-size: 2rem;
      background: #000;
      padding: .5rem;
      opacity: 0;
      transition: $ease;
    }

    &:hover {
      box-shadow: 4px 4px 4px #aaa;

      span {
        opacity: 1;
      }
    }
  }
}

.col-2 {
  flex: 2;
  margin-left: 1rem;

  hr {
    margin: 1.95rem 0 1.95rem 1rem;
  }
}

.return-home {
  margin-bottom: 1rem;
  display: inline-block;
  border-bottom: 2px solid #bbb;

  .fa {
    color: #777;
    font-size: 2rem !important;
    transition: $ease;

    &:hover {
      color: #832133;
    }
  }
}

// Hamburger
.fa-bars,
.fa-close {
  position: fixed;
  right: 2rem;
  top: 2rem;
  z-index: 12;
  border: 1px solid #000;
  border-radius: 5px;
  padding: .4rem .5rem;
  font-size: 1.5rem !important;
  text-shadow: 0 0 1px #fff;
  box-shadow: 0 0 1px #fff;

  &:hover {
    cursor: pointer;
  }
}


// ******************************************* Main Nav
.main-nav {
  background: #fff;
  display: inline-block;
  position: fixed;
  right: -24rem;
  bottom: 0;
  top: 0;
  width: 24rem;
  padding: 2rem;
  transition: $ease;
  z-index: 11;
  border-left: .25rem solid #ccc;

  .social-callouts {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    left: 2rem;

    .fa {
      font-size: 2.5rem;
    }

    a {
      color: #333;

      &:hover {
        color: #832133;
      }
    }
  }

  .selected {
    background: #000;
    color: #fff;
    padding: .5rem 1rem;
  }

  ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 2rem 0 0;

    li {
      margin: 1rem 0;
    }

    a {
      color: #000;
      transition: $ease;
      font-size: 1.5rem;

      &:hover {
        background: #000;
        color: #fff;
        padding: .5rem;
      }
    }
  }
}


// Landing Banner
.landing-banner {
  background: url('../img/jake-blucker.jpg') no-repeat center center / cover fixed;
  height: 72vh;
  width: 100%;
  position: relative;

  a {
    color: #000;
    font-size: 2rem;
    transition: .3s ease-in-out;

    .fa-instagram {
      position: absolute;
      font-size: 2.75rem !important;
      bottom: 2rem;
      right: 2rem;
    }

    &:hover {
      font-size: 2.1rem;
    }
  }

  .landing-container {
    position: absolute;
    left: 6vw;
    top: 6vh;

    .fa {
      border: 1px solid #fff;
      margin-top: .5rem;
      width: 2.75rem;
      height: 2.75rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
      transition: $ease;

      &:hover {
        cursor: pointer;
        color: $blue;
        border-color: $blue;
        transform: scale(1.1);
      }
    }

    h1, h2, .fa { color: #fff; opacity: .9; }

    h1 {
      font-size: 2.5rem;
      text-shadow: 1px 1px 1px #666;
    }

    h2 {
      font-size: 1.8rem;
      font-weight: 100;
    }

    a {
      font-size: 1rem;
    }
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-height: 40vh;
  }
}

// Section Header
.section-header {
  position: relative;
  height: 14rem;
  margin-bottom: 1rem;

  .stripes-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 4rem;
  }

  .header-container {
    display: inline-block;
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    padding: .5rem 2rem;
    background: #fff;
    z-index: 1;
    text-align: left;

    h1 {
      position: relative;
      z-index: 1;
      line-height: 7rem;
    }

    a {
      position: relative;
      z-index: 2;
    }
  }
}

// CUSTOM Classes //
.center {
  left: 50%;
  transform: translateX(-50%);
}

// Show Nav
.show-nav {
  right: 0;
}

// Lightbox
.lg-actual-size {
  &:after {
    content: '\e033';
  }
}

.lg-sub-html {
  h4 {
    font-size: 1.75rem;
    margin: 0;
  }
}

// ************************************ Containers
.container {
  width: 95%;
  margin: 0 auto;
  padding: 2rem 0 8rem;
  background: #fff;
  position: relative;
  z-index: 2;
}

#about-container {
  flex: 2;
  height: 30rem;
  justify-content: center;
  padding: 0 4rem;
  margin-right: 1rem;

  h3 {
    &:before,
    &:after {
      content: ' ------------- ';
      letter-spacing: -1px;
    }
  }
}

#callout-img-container {
  flex: 1;
  height: 30rem;
  padding: 4rem 1rem;
  margin-left: 1rem;
}

#gallery-slider {
  background: url('../img/forest.jpg') no-repeat center center / cover;
  flex: 1;
  margin-right: 1rem;
  height: 80rem;
  text-align: center;
  color: #fff;
  padding-top: 12rem;

  h2,
  i {
    line-height: 6rem;
  }

  h2 {
    font-size: 5rem;
  }

  i {
    font-size: 3.5rem;
  }
}

#featured-item-container {
  height: 24rem;
  text-align: center;

  h4 {
    padding-top: 1rem;
    margin: 0;
  }
}

#featured-merch {
  flex: 2;
  height: 34rem;
  margin: 0 0 1rem 1rem;
  padding: 2rem;

  .tooltip {
    height: 20rem;
    transition: $ease;

    &:hover {
      box-shadow: 4px 4px 4px #aaa;
    }
  }

  .callout {
    opacity: 1;
  }

  .tooltip {
    background-color: #fff !important;
  }
}

#inspiration-container {
  flex: 2;
  height: 68rem;
  margin: 1rem 0 0 1rem;
  padding: 2rem;

  .tall {
    height: 18rem;
  }

  a.link-title {
    margin-bottom: 4rem;
  }
}

#inspiration-list {
  margin-top: 2rem;

  .col-1 {
    height: 20rem;

    span {
      opacity: 1;
    }
  }

  .tall {
    height: 28rem;
  }
}

.inspiration-header {
  background: url('../img/parking.jpg') no-repeat center 125% / cover fixed;
}

#builders-container {
  .col-1 {
    text-align: center;
    height: auto;
    box-shadow: none;
  }

  .match-height {
    height: 43rem;
  }

  .build-callout {
    background: #fff;
    position: absolute;
    left: 2rem;
    right: 2rem;
    top: 7rem;
    bottom: 3rem;
    background: #000;
    vertical-align: bottom;
    color: #fff;
    box-shadow: $shadow;

    img {
      max-width: 100%;
      max-height: 100%;
    }

    h5 {
      margin-top: .25rem;
      font-size: 1.5rem;
    }
  }

  .callout {
    flex: 1;
    margin: .5rem;
    padding: 1rem;
    background: #fff;
    height: 16rem;
    position: relative;
    box-shadow: $shadow;

    img {
      width: 8.5rem;
      height: auto;
      border-radius: 50%;
      margin-bottom: 1rem;
    }

    p {
      margin: 0;
    }

    &:hover {
      .move {
        bottom: 2rem;
      }
    }
  }

  .shop-callout {
    color: #fff;
    background: #000;
    padding: .5rem 0;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    transition: $ease;
  }

  .middle {
    bottom: 50%;
    transform: translateY(50%);
    position: absolute;
  }

  h4 {
    margin: 1rem;
  }

  h5 {
    text-transform: uppercase;
  }
}

#garage-container {
  flex: 3;
  height: 80rem;
  position: relative;

  .garage-container {
    background: url('../img/garage-bg.jpg') no-repeat center center / cover;
    height: 16rem;
    width: 100%;
    color: #fff;
    line-height: 16rem;
    padding-left: 2rem;
    font-size: 3rem;
  }

  .garage-items {
    position: absolute;
    top: 20rem;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
    border: 1px solid #333;
  }

  .tooltip {
    margin-bottom: 0;
  }

  h4 {
    margin: 0;
  }
}

#resources-container {
  flex: 1;
  flex-direction: column;
  height: 80rem;

  .link-title {
    margin-bottom: 3rem;
  }

  .callout {
    display: flex;
    width: 12rem;
    height: 12rem;
    background: #aaa;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: $ease;
    margin-bottom: 2rem;

    &:hover {
      cursor: pointer;
    }
  }

  span {
    background: #333;
    color: #fff;
    padding: .5rem;
    transition: $ease;
  }

  h4 {
    display: inline-block;
    padding-left: 1rem;
  }
}

#filler-container {
  background: url('../img/filler-bg.jpg') no-repeat center center / cover;
  height: 20rem;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  color: #fff;
  padding-top: 7rem;

  .fa {
    display: block;
    font-size: 3rem;
  }
}

#footer {
  text-align: center;
  padding-bottom: 8rem;

  .fa {
    font-size: 2rem;
    margin: 0 .5rem .5rem;

    &:hover {
      cursor: pointer;
      color: $blue;
    }
  }

  .arrow-up {
    color: #666 !important;
    display: inline-block;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
  }
}



// GAL
#lightgallery {
  li {
    width: 30%;
    height: 22rem;
    margin: 1rem;
  }

  .item {
    position: relative;

    .callout {
      position: absolute;
      bottom: 4rem;
      left: 1rem;
      opacity: 0;
      font-size: 1.5rem;
      display: inline-block;
      padding: .5rem;
      color:  #fff;
      background: #000;
      transition: $ease;
    }

    img {
      opacity: 0;
    }

    span {
      font-size: 1rem;
      display: block;
    }

    &:hover {
      cursor: pointer;

      .callout {
        opacity: 1;
      }
    }
  }
}


// ******************************** GARAGE
#garage {
  padding: 2rem 0 4rem 0;

  .col-1 {
    height: 20rem;
    text-align: center;
    background-color: #aaa !important;
    background-blend-mode: multiply;

    span {
      opacity: 1;
      left: 1rem;
      transition: $ease;
    }

    &:hover {
      background-blend-mode: normal;

      span {
        bottom: 2rem;
      }
    }
  }

  .padding-left {
    margin-top: 4rem;
    padding-left: 4rem;
  }

  ul {
    padding: 0;
  }

  li {
    height: 20rem;
    width: 30%;
    margin: 1.5rem;
    position: relative;
    background-color: #ddd !important;
    background-blend-mode: multiply;
    box-shadow: $shadow;
    transition: $ease;

    .callout {
      background: #000;
      color: #fff;
      text-align: center;
      padding: .5rem;
      position: absolute;
      bottom: 1rem;
      left: 2rem;
      right: 2rem;
      transition: $ease;

      h4 {
        margin: 0;
      }

      span {
        text-transform: uppercase;
      }
    }

    &:hover {
      background-blend-mode: normal;
      box-shadow: 4px 4px 4px #aaa;

      .callout {
        bottom: 2rem;
      }
    }
  }

  h5 {
    padding-bottom: 2rem;
  }
}

.garage-callout {
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;

  .image {
    height: 32rem;

    img {
      opacity: 0;
    }
  }

  .callout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 32rem;

    a {
      align-items: center;
      display: flex;
      flex: 1;

      &:hover {
        color: #832133;
      }
    }

    .fa {
      width: 3rem;
      font-size: 2rem;
    }

    h3 {
      margin: 0 0 2rem;
      padding: 1rem;
      border-bottom: .1rem solid #aaa;
    }
  }
}


// ************************************ resources
#resources {
  text-align: center;
  padding-top: 4rem;

  .small-left-padding {
    margin-bottom: 2rem;
  }

  .callout {
    height: 24rem;
    width: 24rem;
    border-radius: 50%;
    display: inline-block;
    margin: 2rem;
    position: relative;
  }

  span {
    background: #333;
    color: #fff;
    padding: 1rem 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  a {
    border-radius: 50%;
  }
}


@media (max-width: 600px) {
  h1 {
    font-size: 6rem;
  }

  .landing-banner {

    a {
      font-size: 6rem;
    }

    .landing-container {
      left: 1rem;
      top: 2rem;

      h2 {
        padding: 1rem 0 0 0;
        font-size: 2rem;
        letter-spacing: 1px;
      }
    }
  }
}
