h1 {
  font-family: 'Lobster', cursive;
  font-size: 6rem;
}

html {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  overflow-x: hidden;
}

$ease: .3s ease-in-out;

// Hamburger
.fa-bars,
.fa-close {
  position: fixed;
  right: 2rem;
  top: 1rem;
  z-index: 12;
  border: 1px solid #000;
  border-radius: 5px;
  padding: .4rem .5rem;


  &:hover {
    cursor: pointer;
  }
}

// Main Nav
.main-nav {
  background: #fff;
  display: inline-block;
  position: fixed;
  right: -24rem;
  bottom: 0;
  top: 0;
  width: 24rem;
  padding: 2rem;
  transition: $ease;
  z-index: 11;

  ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;

    li {

    }

    a {
      color: #000;
    }
  }
}

.landing-banner {
  background: radial-gradient(
      circle at bottom right,
      #fff,
      transparent 60%
    ), url('../img/street.jpg') no-repeat center center / cover;
  height: 100vh;
  width: 100%;

  a {
    color: #000;
    font-size: 2rem;
    transition: .3s ease-in-out;

    .fa-instagram {
      position: absolute;
      font-size: 2rem;
      bottom: 2rem;
      right: 2rem;
    }

    &:hover {
      font-size: 2.1rem;
    }
  }

  .landing-container {
    position: absolute;
    left: 6rem;
    top: 6rem;

    h2 {
      margin-top: -1rem;
      padding-left: 12rem;
    }
  }
}

// Section Header
.section-header {
  position: relative;
  margin-bottom: 1rem;

  h1 {
    display: inline-block;
  }
  img {
    width: 6rem;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}


// GAL
#lightgallery {
  a {
    position: relative;

    &:hover {
      .img-overlay {
        display: block;
        transition: $ease;
      }
    }
  }
  img {
    width: 32%;
    margin: 0 .5% 1rem;
    height: auto;
    max-height: 20rem;
    transition: $ease;
  }
  .img-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 1.5rem;
    transform: translateY(-50%);
    background: rgba(0,0,0,.75);
    padding: .5rem;
    z-index: 2;
    color: #fff;
    transition: $ease;

    small {
      display: block;
    }
  }
}


// CUSTOM Classes //
.center {
  left: 50%;
  transform: translateX(-50%);
}

// Show Nav
.show-nav {
  right: 0;
}

// Lightbox
.lg-actual-size {
  &:after {
    content: '\e033';
  }
}


@media (max-width: 600px) {
  h1 {
    font-size: 6rem;
  }

  .landing-banner {

    a {
      font-size: 6rem;
    }

    .landing-container {
      left: 1rem;
      top: 2rem;

      h2 {
        padding: 1rem 0 0 0;
        font-size: 2rem;
        letter-spacing: 1px;
      }
    }
  }
}
