* {
  box-sizing: border-box;
}

html, body, h1, h2, h5 {
  margin: 0;
  padding: 0;
}

html {
  font-size: 1vw;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: .05rem;
}

body {
  overflow-x: hidden;
}

$ease: .3s ease-in-out;

h1 {
  font-family: 'Lobster', cursive;
  font-size: 8rem;
}

h2 {
  font-size: 3.25rem;
}

h3 {
  font-size: 3.5rem;
  text-align: center;
  color: #333;
  margin-bottom: 3rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.25rem;
}

p {
  font-size: 1.75rem;
  line-height: 2.5rem;
  letter-spacing: .1rem;
}

a {
  font-size: 1.25rem;
  text-decoration: none;
  cursor: pointer;
  color: #666;
  transition: $ease;

  &:hover {
    color: #444;
  }
}

hr {
  margin: 4rem 0;
  border-top-color: #fff;
}

// ******************************** Globals
.center-text {
  text-align: center;

  p {
    display: inline-block;
    margin: 2rem .5rem 4rem;
    font-size: 5rem;
    color: #ccc;
    vertical-align: -25%;
  }

  .fa {
    font-size: 3rem;
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section-padding {
  padding: 2rem;
}

.small-left-padding {
  padding: 0 0 1rem 1rem;
}

.bg {
  background: #efefef;
}

.table-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.table-column {
  display: flex;
}

.clear {
  clear: both;
}

.single-tile {
  height: 22rem;
  width: 100%;
}

.margin-left {
  margin-left: 1rem;
}

.margin-right {
  margin-right: 1rem;
}

.col-1 {
  flex: 1;
  height: 16rem;
  margin: 0 1rem 2rem;
  position: relative;

  a {
    text-decoration: none;

    span {
      position: absolute;
      bottom: .5rem;
      right: .5rem;
      color: #fff;
      font-size: 2rem;
      background: #000;
      padding: .5rem;
      opacity: 0;
      transition: $ease;
    }

    &:hover {
      span {
        opacity: 1;
      }
    }
  }
}

.col-2 {
  flex: 2;
  margin-left: 1rem;

  hr {
    margin: 1.95rem 0 1.95rem 1rem;
  }
}

// Hamburger
.fa-bars,
.fa-close {
  position: fixed;
  right: 2rem;
  top: 2rem;
  z-index: 12;
  border: 1px solid #000;
  border-radius: 5px;
  padding: .4rem .5rem;
  font-size: 1.5rem !important;

  &:hover {
    cursor: pointer;
  }
}


// Main Nav
.main-nav {
  background: #fff;
  display: inline-block;
  position: fixed;
  right: -24rem;
  bottom: 0;
  top: 0;
  width: 24rem;
  padding: 2rem;
  transition: $ease;
  z-index: 11;

  .social-callouts {
    position: absolute;
    bottom: 2rem;
    right: 2rem;

    .fa {
      font-size: 2.5rem;
    }

    a {
      color: #333;
    }
  }

  ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;

    li {

    }

    a {
      color: #000;
    }
  }
}


// Landing Banner
.landing-banner {
  background: radial-gradient(
      circle at bottom right,
      #fff,
      transparent 60%
    ), url('../img/street.jpg') no-repeat center center / cover fixed;
  height: 99vh;
  width: 100%;

  .down-arrow {
    position: absolute;
    bottom: 2rem;
    left: 3rem;
    font-size: 2rem;
    color: #ccc;
  }

  a {
    color: #000;
    font-size: 2rem;
    transition: .3s ease-in-out;

    .fa-instagram {
      position: absolute;
      font-size: 2.75rem !important;
      bottom: 2rem;
      right: 2rem;
    }

    &:hover {
      font-size: 2.1rem;
    }
  }

  .landing-container {
    position: absolute;
    left: 12rem;
    top: 6rem;

    h2,
    span {
      display: inline-block;
      margin-top: -1rem;
    }

    h2 {
      padding-left: 16rem;
    }

    span {
      font-size: 2rem;
      padding-left: 1rem;
      letter-spacing: .1rem;
      font-weight: 600;
    }
  }
}

// Section Header
.section-header {
  position: relative;
  height: 14rem;
  margin-bottom: 1rem;

  .header-container {
    display: inline-block;
    position: absolute;
    bottom: 2rem;
    left: 0;

    h1 {
      line-height: 5rem;
    }
  }
}


// GAL
#lightgallery {
  a {
    position: relative;

    &:hover {
      .img-overlay {
        opacity: 1;
      }
    }
  }
  img {
    width: 32%;
    margin: 0 .5% 1rem;
    height: auto;
    max-height: 22rem;
  }
  .img-overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 1.5rem;
    transform: translateY(-50%);
    background: rgba(0,0,0,.75);
    padding: .5rem;
    z-index: 2;
    color: #fff;
    transition: $ease;

    small {
      display: block;
    }
  }
}

.tall-photos {
  #lightgallery {
    img {
      max-height: 26rem;
    }
  }
}


// CUSTOM Classes //
.center {
  left: 50%;
  transform: translateX(-50%);
}

// Show Nav
.show-nav {
  right: 0;
}

// Lightbox
.lg-actual-size {
  &:after {
    content: '\e033';
  }
}

// ************************************ Containers
.container {
  width: 95%;
  margin: 0 auto;
  padding: 2rem 0 8rem;
  background: #fff;
  position: relative;
  z-index: 2;
}

#about-container {
  flex: 2;
  height: 30rem;
  justify-content: center;
  padding: 0 4rem;
  margin-right: 1rem;

  h3 {
    &:before,
    &:after {
      content: ' ------------- ';
      letter-spacing: -1px;
    }
  }
}

#featured-item-container {
  flex: 1;
  height: 30rem;
  padding: 4rem 1rem;
  margin-left: 1rem;
}

#gallery-slider {
  background: url('../img/forest.jpg') no-repeat center center / cover;
  flex: 1;
  margin-right: 1rem;
  height: 80rem;
  text-align: center;
  color: #fff;
  padding-top: 12rem;

  h2,
  i {
    line-height: 6rem;
  }

  h2 {
    font-size: 5rem;
  }

  i {
    font-size: 3.5rem;
  }
}

#featured-builders {
  text-align: center;
  flex: 1;


  img {
    width: 12rem;
    height: auto;
    border-radius: 50%;
  }

  .single-tile {
    position: relative;
    margin: 2rem 0;
    height: auto;
    padding: 1rem;
    height: 20rem;

    p {
      margin-bottom: 0;
    }

    &:hover {
      background: #ccc;
    }
  }

  h3 {
    display: inline-block;
    border-bottom: .2rem solid #333;
  }
}

#featured-merch {
  flex: 2;
  height: 34rem;
  margin: 0 0 1rem 1rem;
  padding: 2rem;

  .col-1 {
    margin-bottom: 3rem;
    text-align: center;
    position: relative;
    z-index: 1;

    .callout {
      position: absolute;
      width: 100%;
      bottom: 0;
      z-index: 2;
      display: block;
      background: #000;
      color: #fff;
      opacity: 0;
      padding: .25rem 0;
      transition: $ease;
    }

    span {
      display: block;
    }

    &:hover {
      .callout {
        opacity: 1;
      }
    }
  }
}

#inspiration-container {
  flex: 2;
  height: 42rem;
  margin: 1rem 0 0 1rem;
  padding: 2rem;
  overflow-y: scroll;
}

#builders-container {
  .col-1 {
    text-align: center;
    height: auto;
  }

  .callout {
    flex: 1;
    margin: .5rem;
    padding: 1rem;
    background: #fff;
    height: 16rem;

    img {
      width: 8.5rem;
      height: auto;
      border-radius: 50%;
      margin-bottom: 1rem;
    }

    p {
      margin: 0;
    }
  }

  .shop-callout {
    color: #fff;
    background: #000;
    padding: .5rem 0;
    margin-top: 4rem;
  }

  h4 {
    margin: 1rem;
  }
}

#garage-container {
  flex: 3;
  height: 80rem;
  position: relative;

  .garage-container {
    background: url('../img/garage-bg.jpg') no-repeat center center / cover;
    height: 16rem;
    width: 100%;
    color: #fff;
    line-height: 16rem;
    padding-left: 2rem;
    font-size: 3rem;
  }

  .garage-items {
    position: absolute;
    top: 20rem;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
    border: 1px solid #333;
  }
}

#resources-container {
  flex: 1;
  flex-direction: column;
  height: 80rem;

  .callout {
    display: flex;
    width: 12rem;
    height: 12rem;
    background: #aaa;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #aaa !important;
    background-blend-mode: multiply !important;
    transition: $ease;
    margin-bottom: 2rem;

    &:hover {
      cursor: pointer;
      background-color: #ccc !important;
    }
  }

  span {
    background: #333;
    color: #fff;
    padding: .5rem;
    transition: $ease;
  }

  h4 {
    display: inline-block;
    padding-left: 1rem;
  }
}

#filler-container {
  background: url('../img/filler-bg.jpg') no-repeat center center / cover;
  height: 20rem;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  color: #fff;
  padding-top: 7rem;

  .fa {
    display: block;
    font-size: 3rem;
  }
}

#footer {
  text-align: center;
  padding-bottom: 8rem;

  .fa {
    font-size: 2rem;
    margin: 0 .5rem .5rem;
  }
}


@media (max-width: 600px) {
  h1 {
    font-size: 6rem;
  }

  .landing-banner {

    a {
      font-size: 6rem;
    }

    .landing-container {
      left: 1rem;
      top: 2rem;

      h2 {
        padding: 1rem 0 0 0;
        font-size: 2rem;
        letter-spacing: 1px;
      }
    }
  }
}
